@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/LayoutFront.cshtml";
}


<div class="container">
    <div class="grid fluid">
        <div class="row">


            <div class="span4 bg-amber padding20 text-center flippy">
                <img src="img/ic_action.png" />
                <h2 class="fg-white">Acidentes de Trânsito</h2><br>
                <h5 class="fg-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</h5>
            </div>

            <div class="span4 bg-green padding20 text-center">
                <img src="img/ic_action.png" />
                <h2 class="fg-white">Problemas de sinalização</h2><br>
                <h5 class="fg-white">Semáforos com defeito e problemas de sinalização, placas e pinturas de solo</h5>

            </div>
            <div class="span4 bg-red padding20 text-center">
                <img src="img/ic_action.png" />
                <h2 class="fg-white">Lorem ipsum dolor sit amet</h2><br>
                <h5 class="fg-white">Ocorrências como veículo quebrado, alagamento e outras interferências</h5>
            </div>
        </div>
    </div>
    <div class="grid fluid">
        <div class="row">
            <div class="span4 bg-crimson padding20 text-center">
                <img src="img/ic_action.png" />
                <h2 class="fg-white">Lorem ipsum dolor sit amet</h2><br>
                <h5 class="fg-white">Condições de trânsito e corredores de ônibus</h5>
            </div>
            <div class="span4 bg-darkBlue padding20 text-center">
                <img src="img/ic_action.png" />
                <h2 class="fg-white">Lorem ipsum dolor sit amet</h2><br>
                <h5 class="fg-white">Rodízio Municipal, zona de máxima circulação e outras interferências</h5>
            </div>
            <div class="span4 bg-gray padding20 text-center">
                <img src="img/ic_action.png" />
                <h2 class="fg-white">Veículo Guinchado</h2><br>
                <h5 class="fg-white">Lorem ipsum dolor sit amet</h5>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="grid no-margin">
        <div class="row">
            <div class="span4 no-tablet-portrait no-phone">
                <div class="notice marker-on-right bg-lighterBlue padding20 text-center" style="height: 200px">
                    <h1 class="fg-white" style="font-size: 120px; line-height: 80px; margin-bottom: 30px">3</h1>
                    <p class="subheader-secondary fg-white">passos simples para você contribuir</p>
                </div>
            </div>
            <div class="span8">
                <div class="notice marker-on-bottom no-desktop padding10 bg-lighterBlue text-center ">
                    <p class="subheader-secondary fg-white no-margin">3 simples passos para você contribuir</p>
                </div>
                <ol class="styled">
                    <li style="width: 90%">Clique no botão correspondente a sua <strong>ocorrência</strong></li>
                    <li style="width: 90%">Preencha as informações</li>
                    <li style="width: 90%">Pronto! Sua solicitação já foi enviada!</li>
                </ol>
            </div>
        </div>
    </div>

</div>