.custom-icon-config {
  background: url('/Content/images/icons/gear.png') no-repeat 5px !important;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: -7px;
  line-height: 14px;
  vertical-align: text-top;
  background-position: 14px 14px;
  padding: 1px 9px 4px 1px;
}
.portlet {
  margin-bottom: 10px !important;
}
.sidebar-toggler {
  margin: 10px;
}
#btnSelect {
  padding: 0 10px 0 10px;
}
#documentModal {
  position: absolute;
}
#documentModal .modal-body {
  position: relative;
  max-height: 400px;
  height: 224px;
  padding: 15px;
  overflow-y: hidden;
}
.portlet-client {
  width: 562px;
}
.portlet-client h2 {
  margin-bottom: 30px;
  float: left;
  color: #57676B;
}
.btn.light-blue:hover,
.btn.light-blue:focus,
.btn.light-blue:active,
.btn.light-blue.active,
.btn.light-blue[disabled],
.btn.light-blue.disabled {
  background-color: #1875EC !important;
  color: #fff !important;
}
#document-box {
  background: #FFF;
  padding: 10px 10px 10px 20px;
  height: 100%;
}
#document-box .uneditable-input {
  width: 114%;
  height: 34px;
}
#document-box .input-append {
  width: 65%;
}
#document-box form {
  margin: 0;
}
#document-box #upload-message {
  font-size: 19px;
  display: block;
  padding: 8px;
  margin: 20px 0 0 -5px;
}
#document-box .fileupload-exists {
  margin-left: 1px;
  margin-right: 6px;
}
.btn.light-blue {
  color: white;
  -ms-text-shadow: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  background-color: transparent;
}
#lista-pessoas .user-form {
  border-bottom: 1px dashed #C2CCD6;
  padding: 10px 0;
}
.lbl_portlet {
  font-weight: bold;
  color: #2B78AC;
}
#btn_new_client {
  float: right;
  margin: 16px 0;
}
.btn-sm,
.btn-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
#btnUpload {
  margin: 10px 0 0 0;
  float: right;
}
#client-info {
  margin: -14px 0 0 8px;
  padding: 0;
}
#client-info li {
  list-style: none;
  padding: 6px;
  font-size: 14px;
  border-bottom: 1px dashed #C2CCD6;
}
.page-title small {
  display: block;
}
.right {
  float: right;
}
#btn-manage-contract:hover {
  background-color: #208CB6 !important;
}
#btn-manage-contract {
  padding: 10px;
  font-size: 14px !important;
  background-color: #27A5D6;
  margin: 0 0 0 10px;
}
.edit-inline,
.edit-inline[readonly=readonly] {
  background-color: #fff;
  box-shadow: none;
  border: none;
  margin-top: -4px;
  padding: 0;
  cursor: text;
  margin-bottom: 0;
}
.custom-icon-config:hover {
  background-color: #1875EC !important;
}
.left {
  float: left;
}
#ServiceInfo > ul {
  padding: 0;
  margin: 0;
}
#ServiceInfo > ul > li {
  list-style: none;
  padding: 0 40px 0 40px;
  height: 180px;
  float: left;
  font-weight: 400;
  color: #FDFDFD;
  font-size: 11px;
  border-right: 1px dashed #66C5DD;
}
#ServiceInfo > ul > li:last-child {
  border-right: none;
}
#ServiceInfo > ul > li:first-child {
  padding-left: 0;
}
.header .btn-navbar {
  padding: 5px;
  padding-top: 3px;
}
.info-hero {
  width: inherit;
  margin: 0 0 10px 0;
  padding: 15px 0 16px 15px;
}
.info-hero h2 {
  font-weight: 300;
  color: #E8FEFF;
  font-weight: 200;
}
.info-hero .number-title {
  width: inherit;
  font-size: 100px;
  text-align: center;
  line-height: 110px;
  font-weight: 200;
}
#services-list {
  margin-top: 20px;
}
#services-list h4 {
  font-weight: 600;
  font-size: 21px;
}
#services-list ul {
  padding: 0;
  margin: 25px 0;
}
#services-list li {
  list-style: none;
  float: left;
  margin: 0 15px 13px 0;
  font-size: 18px;
  border-right: 1px solid #fff;
  padding: 0 18px 0 1px;
}
#services-list li:last-child {
  border-right: none;
}
#service-type {
  float: left;
  margin: 15px 11px 0 0;
  font-size: 18px !important;
}
.get-started {
  border: 1px dashed #ccc;
  text-align: center;
  padding: 10px 0 20px 0;
}

.frame-upload {
    width: 100%;
    border: none;
    height: 44px;
}